In [ ]:
# import tarfile
# import os

# def extract_tar_gz(file_path: str, extract_to: str = "."):
#     """
#     Extracts a .tar.gz file to the specified directory.

#     :param file_path: Path to the .tar.gz file
#     :param extract_to: Directory to extract files to (default: current directory)
#     """
#     if not os.path.exists(file_path):
#         raise FileNotFoundError(f"{file_path} does not exist")

#     # Ensure the extraction directory exists
#     os.makedirs(extract_to, exist_ok=True)

#     with tarfile.open(file_path, "r:gz") as tar:
#         tar.extractall(path=extract_to)
#         print(f"Extracted {file_path} to {extract_to}")


# extract_tar_gz("data/torob-turbo-stage2.tar.gz", "data")

C:\Users\Behnam_Local\AppData\Local\Temp\ipykernel_8380\652266606.py:18: DeprecationWarning: Python 3.14 will, by default, filter extracted tar archives and reject files or modify their metadata. Use the filter argument to control this behavior.
  tar.extractall(path=extract_to)

Extracted data/torob-turbo-stage2.tar.gz to data

In [1]:
# import pandas as pd
# import os
# import glob

# # Folder containing Parquet files
# data_folder = "data/"

# # Get all Parquet files in the folder
# parquet_files = glob.glob(os.path.join(data_folder, "*.parquet"))

# if not parquet_files:
#     raise FileNotFoundError("No Parquet files found in the data folder")

# # Iterate through each file
# for f in parquet_files:
#     print(f"=== File: {os.path.basename(f)} ===")
    
#     # Load the Parquet file
#     df = pd.read_parquet(f)
    
#     # Basic analysis
#     print(f"Number of rows: {len(df)}")
#     print(f"Number of columns: {len(df.columns)}")
#     print(f"Column names: {list(df.columns)}")
#     print("Data types:\n", df.dtypes)
    
#     # Show first few rows
#     print("\nSample rows:")
#     print(df.head(), "\n")
    
#     print("-" * 50, "\n")

=== File: base_products.parquet ===
Number of rows: 1022298
Number of columns: 8
Column names: ['image_url', 'random_key', 'category_id', 'brand_id', 'english_name', 'persian_name', 'extra_features', 'members']
Data types:
 image_url         object
random_key        object
category_id        int64
brand_id           int64
english_name      object
persian_name      object
extra_features    object
members           object
dtype: object

Sample rows:
                                           image_url random_key  category_id  \
0  https://image.torob.com/base/images/K1/aU/K1aU...     chjknu          338
1  https://image.torob.com/base/images/vx/gL/vxgL...     ppndkv         2453
2  https://image.torob.com/base/images/KW/2K/KW2K...     lwtjlj         2300
3  https://image.torob.com/base/images/VK/R5/VKR5...     ruqoum         1905
4  https://image.torob.com/base/images/eN/fh/eNfh...     gspcjx          350

   brand_id       english_name  \
0        -1
1        -1            Ú†Ù†Ø¯ Ø±Ù†Ú¯
2      1293
3       212
4        -1  DESK yazdan MODEL

                                        persian_name  \
0                        ÙØ±Ø´ 700Ø´Ø§Ù†Ù‡ Ø§ÙÙ¾Ø§Ù„ ÙÛŒØ±ÙˆØ²Ù‡ Ø§ÛŒ
1                               ØµÙ†Ø¯Ù„ÛŒ ØªØ§Ø¨ Ù…Ø¯Ù„ chioco
2  Ø¨Ø´Ù‚Ø§Ø¨ Ù…Ø¬Ù…ÙˆØ¹Ù‡ Ú©ÛŒÚ© ÛŒÚ©Ù¾Ø§Ø±Ú†Ù‡Ø³Ø§Ø²ÛŒ Ø¨Ø§ Ø³ÛŒØ³ØªÙ…Ø¹Ø§Ù…Ù„ 13 Ù‚...
3                   Ø³Ø±ÙˆÛŒØ³ Ù„Ú¯Ù† Ú¯Ø±Ø¯ ÛŒÙˆÙ†ÛŒÚ© Ø§ØµÙ„ - 6 Ø¹Ø¯Ø¯ÛŒ
4                        Ù…ÛŒØ² ØªØ­Ø±ÛŒØ± Ú†ÙˆØ¨ ÙÙ„Ø² Ù…Ø¯Ù„ ÛŒØ²Ø¯Ø§Ù†

                                      extra_features  \
0  {"meterage": ["12 m", "9 m", "6 m"], "original...
1         {"originality": "", "stock_status": "new"}
2  {"size2": "", "originality": "", "piece_count"...
3  {"originality": "", "piece_count": "6 pieces",...
4  {"material": "mdf", "originality": "", "stock_...

                                             members
0                                           [lqtdbp]
1                                           [iufoou]
2                                           [tjokxz]
3                                           [aysgod]
4  [rrzqgz, tfaizo, pgsmqi, vhbeny, mikqgh, chgee...

--------------------------------------------------

=== File: base_views.parquet ===
Number of rows: 199916
Number of columns: 4
Column names: ['id', 'search_id', 'base_product_rk', 'timestamp']
Data types:
 id                              object
search_id                       object
base_product_rk                 object
timestamp          datetime64[ns, UTC]
dtype: object

Sample rows:
       id search_id base_product_rk                        timestamp
0  bchpng    jhemij          kayrjk 2025-09-13 00:00:16.739000+00:00
1  wtbife    cxgzds          qrlxbr 2025-09-13 00:00:16.890000+00:00
2  ayxzew    mjlzoz          ovnibg 2025-09-13 00:00:16.940000+00:00
3  nitqjj    ovhikb          ojmhlz 2025-09-13 00:00:19.377000+00:00
4  jpfagr    lmeylm          ahyiyw 2025-09-13 00:00:20.240000+00:00

--------------------------------------------------

=== File: brands.parquet ===
Number of rows: 2025
Number of columns: 2
Column names: ['id', 'title']
Data types:
 id        int64
title    object
dtype: object

Sample rows:
      id                 title
0  54098     Ø¬ÛŒÙ…ÛŒÙ„Ø§ÛŒ / Gemilai
1   2737      Ø¨ÙˆÙØ§Ù„Ùˆ / Buffalo
2  54070          Ù…Ú©Ø³Ù† / Maxen
3  54068         Ù†Ú©Ø³Ø§Ø± / Nexar
4  54069  Ù†ÙˆØ±Ø³Ø§Ø²Ø§Ù† / Noorsazan

--------------------------------------------------

=== File: categories.parquet ===
Number of rows: 746
Number of columns: 3
Column names: ['id', 'title', 'parent_id']
Data types:
 id            int64
title        object
parent_id     int64
dtype: object

Sample rows:
     id               title  parent_id
0   212               ÛŒØ®Ú†Ø§Ù„       2461
1   221           Ú©ÙˆÙ„Ø± Ú¯Ø§Ø²ÛŒ       2527
2   338          ÙØ±Ø´ Ù…Ø§Ø´ÛŒÙ†ÛŒ       1872
3   354  ØªØ´Ú©ØŒ Ù„Ø­Ø§Ù Ùˆ Ø±ÙˆØªØ®ØªÛŒ       2676
4  1304   Ù‚Ù‡ÙˆÙ‡ Ùˆ Ø§Ø³Ù¾Ø±Ø³Ùˆ Ø³Ø§Ø²       1309

--------------------------------------------------

=== File: cities.parquet ===
Number of rows: 651
Number of columns: 2
Column names: ['id', 'name']
Data types:
 id       int64
name    object
dtype: object

Sample rows:
    id      name
0  566      Ø²Ø±Ù†Ø¯
1  299    Ú©Ù‡Ø±ÛŒØ²Ú©
2   87    Ø§Ø±ÙˆÙ…ÛŒÙ‡
3  210  Ø²Ø±ÛŒÙ† Ø±ÙˆØ¯
4  153  Ø³Ø§ÙˆØ¬Ø¨Ù„Ø§Øº

--------------------------------------------------

=== File: final_clicks.parquet ===
Number of rows: 17371
Number of columns: 4
Column names: ['id', 'shop_id', 'base_view_id', 'timestamp']
Data types:
 id                           object
shop_id                       int64
base_view_id                 object
timestamp       datetime64[ns, UTC]
dtype: object

Sample rows:
       id  shop_id base_view_id                        timestamp
0  zmyxvb    23019       jrdkzd 2025-09-13 00:00:41.709975+00:00
1  nmimcj     6013       cjmvyg 2025-09-13 00:00:45.498669+00:00
2  azhuzt    19100       fwcfcw 2025-09-13 00:00:53.598091+00:00
3  vaetkg    17458       xeujbq 2025-09-13 00:01:32.881068+00:00
4  eiimms    22185       ucdxaa 2025-09-13 00:02:05.124268+00:00

--------------------------------------------------

=== File: members.parquet ===
Number of rows: 1948665
Number of columns: 4
Column names: ['random_key', 'shop_id', 'price', 'base_random_key']
Data types:
 random_key         object
shop_id             int64
price               int64
base_random_key    object
dtype: object

Sample rows:
  random_key  shop_id     price base_random_key
0     lqtdbp     1314  17000000          chjknu
1     iufoou    10370    246000          ppndkv
2     tjokxz    23294   6950000          lwtjlj
3     aysgod    22496   1850000          ruqoum
4     rrzqgz    15837   6000000          gspcjx

--------------------------------------------------

=== File: searches.parquet ===
Number of rows: 588347
Number of columns: 9
Column names: ['id', 'uid', 'page', 'session_id', 'timestamp', 'query', 'result_base_product_rks', 'category_id', 'category_brand_boosts']
Data types:
 id                                      object
uid                                     object
page                                     int64
session_id                              object
timestamp                  datetime64[ns, UTC]
query                                   object
result_base_product_rks                 object
category_id                              int64
category_brand_boosts                   object
dtype: object

Sample rows:
       id     uid  page session_id                        timestamp  \
0  jhemij  lqnsla     0     jyhxbg 2025-09-13 00:00:00.133000+00:00
1  wvrviu  eghedv     0     ytenxp 2025-09-13 00:00:00.675000+00:00
2  oakxdu  yxcbhr     4     cyciuz 2025-09-13 00:00:01.672000+00:00
3  trnkhs  wzktjg     2     mdwxin 2025-09-13 00:00:02.021000+00:00
4  jmhhdq  vweoni     0     jtjwfu 2025-09-13 00:00:02.762000+00:00

                           query  \
0  ÛŒØ®Ú†Ø§Ù„ ÙØ±ÛŒØ²Ø± Ø·Ø±Ø­ Ø³Ø§ÛŒØ¯ Ù¾Ø§Ú©Ø´ÙˆÙ…Ø§
1                          ÛŒØ®Ú†Ø§Ù„
2                         Ø²ÙˆØ¯ Ù¾Ø²
3                         Ù…Ø¨Ù„Ù…Ø§Ù†
4                     Ù¾ØªÙˆ Ú¯Ù„Ø¨Ø§ÙØª

                             result_base_product_rks  category_id  \
0  [wdekwx, kayrjk, axmhow, pusbts, wdekwx, uyyyj...            0
1  [vkjhbx, ijfyrp, cvwrbk, lsmvew, tnbxnb, rwovy...            0
2  [qxnmle, utrrvh, ahmjqs, xsbzhe, irdbkp, vkbgi...            0
3  [pqzcom, niudms, tnymsy, rhyjpd, jjdwvw, nrhld...            0
4  [iryfsr, cvtxaa, rjiukp, ffjioj, kidjya, lydvk...            0

  category_brand_boosts
0                    []
1                    []
2                    []
3                    []
4                    []

--------------------------------------------------

=== File: shops.parquet ===
Number of rows: 23342
Number of columns: 4
Column names: ['id', 'city_id', 'score', 'has_warranty']
Data types:
 id                int64
city_id           int64
score           float64
has_warranty       bool
dtype: object

Sample rows:
      id  city_id  score  has_warranty
0   1314      566    5.0         False
1  10370      299    5.0         False
2  23294       87    4.9         False
3  22496      210    5.0         False
4  15837      153    5.0          True

--------------------------------------------------

In [13]:
import psycopg2
from psycopg2 import sql, OperationalError

# Database connection parameters
db_config = {
    "host": "81.12.30.45",
    "port": 29616,
    "dbname": "postgres",
    "user": "postgres",
    "password": "80aEx2MQtiWSlrWmPB16"
}

def create_connection(config):
    """Create a connection to the PostgreSQL database."""
    try:
        connection = psycopg2.connect(**config)
        print("Connection successful")
        return connection
    except OperationalError as e:
        print(f"The error '{e}' occurred")
        return None

def close_connection(connection):
    """Close the database connection."""
    if connection:
        connection.close()
        print("Connection closed")

# Example usage
conn = create_connection(db_config)

Connection successful

In [ ]:
# import pandas as pd
# def read_parquet_file(file_path):
#     """Read a Parquet file into a DataFrame."""
#     df = pd.read_parquet(file_path)
#     print(f"Loaded {len(df)} rows and {len(df.columns)} columns from {file_path}")
#     return df
# def infer_postgres_column_types(df):
#     """Infer PostgreSQL column types based on pandas dtypes."""
#     column_defs = []
#     for col, dtype in df.dtypes.items():
#         if pd.api.types.is_object_dtype(dtype):
#             column_type = "TEXT"
#         elif pd.api.types.is_integer_dtype(dtype):
#             column_type = "BIGINT"
#         elif pd.api.types.is_float_dtype(dtype):
#             column_type = "FLOAT"
#         elif pd.api.types.is_datetime64_any_dtype(dtype):
#             column_type = "TIMESTAMP WITH TIME ZONE"
#         elif pd.api.types.is_bool_dtype(dtype):
#             column_type = "BOOLEAN"
#         else:
#             column_type = "TEXT"
#         column_defs.append(f"{col} {column_type}")
#     return column_defs
# def create_table(connection, table_name, column_defs):
#     """Create a table if it does not exist."""
#     cursor = connection.cursor()
#     create_table_query = f"CREATE TABLE IF NOT EXISTS {table_name} ({', '.join(column_defs)});"
#     cursor.execute(create_table_query)
#     connection.commit()
#     cursor.close()
#     print(f"Table '{table_name}' created or already exists.")
# from tqdm import tqdm
# def insert_dataframe(connection, df, table_name, batch_size=1000):
#     """Insert a pandas DataFrame into PostgreSQL in batches."""
#     cursor = connection.cursor()
#     cols = df.columns.tolist()
#     values_template = ", ".join(["%s"] * len(cols))

#     insert_query = sql.SQL("INSERT INTO {} ({}) VALUES ({})").format(
#         sql.Identifier(table_name),
#         sql.SQL(", ").join(map(sql.Identifier, cols)),
#         sql.SQL(values_template)
#     )

#     data_tuples = [tuple(x) for x in df.to_numpy()]
#     total_rows = len(data_tuples)

#     for i in tqdm(range(0, total_rows, batch_size)):
#         batch = data_tuples[i:i + batch_size]
#         cursor.executemany(insert_query, batch)
#         connection.commit()
#         # print(f"Inserted rows {i}â€“{i+len(batch)-1} into '{table_name}'")

#     cursor.close()
#     print(f"âœ… Finished inserting {total_rows} rows into '{table_name}'")

In [44]:
# pname = "brands"
# file_path = f"data/{pname}.parquet"
# df = read_parquet_file(file_path)
# cols_sql = infer_postgres_column_types(df)
# create_table(conn, pname, cols_sql)
# insert_dataframe(conn, df, pname, batch_size = 10)

Loaded 2025 rows and 2 columns from data/brands.parquet
Table 'brands' created or already exists.

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 203/203 [01:23<00:00,  2.43it/s]

âœ… Finished inserting 2025 rows into 'brands'

In [72]:
# import os
# import io
# import psycopg2
# import pandas as pd


# # Mapping pandas dtypes â†’ PostgreSQL
# dtype_mapping = {
#     "int64": "BIGINT",
#     "float64": "DOUBLE PRECISION",
#     "bool": "BOOLEAN",
#     "datetime64[ns]": "TIMESTAMP",
#     "datetime64[ns, UTC]": "TIMESTAMPTZ",
#     "object": "TEXT"
# }

# def map_dtype(dtype):
#     """Convert pandas dtype â†’ PostgreSQL dtype"""
#     dtype_str = str(dtype)
#     return dtype_mapping.get(dtype_str, "TEXT")

# # Connect once
# conn = psycopg2.connect(**db_config)
# cursor = conn.cursor()

# data_folder = "data"

# for file in os.listdir(data_folder):
#     if file.endswith(".parquet"):
#         table_name = os.path.splitext(file)[0]  # filename = table name
#         file_path = os.path.join(data_folder, file)
        
#         if table_name not in ['base_products']:
#             continue
#         print(f"ğŸ“¥ Loading {file_path} â†’ {table_name}")

#         # Read parquet file into DataFrame
#         df = pd.read_parquet(file_path)

#         # --- Step 1: Drop & recreate table with proper types ---
#         cursor.execute(f'DROP TABLE IF EXISTS "{table_name}" CASCADE;')
#         col_defs = ", ".join([
#             f'"{col}" {map_dtype(dtype)}' for col, dtype in zip(df.columns, df.dtypes)
#         ])
#         cursor.execute(f'CREATE TABLE "{table_name}" ({col_defs});')

#         buffer = io.StringIO()
#         df.to_csv(buffer, index=False, header=False, sep=",", quoting=1)  # quoting=1 â†’ QUOTE_MINIMAL
#         buffer.seek(0)

#         # --- Step 3: Bulk load with COPY CSV ---
#         cursor.copy_expert(f'COPY "{table_name}" FROM STDIN WITH CSV QUOTE \'"\' DELIMITER \',\'', buffer)
#         conn.commit()

#         print(f"âœ… Inserted {len(df)} rows into {table_name}")

# cursor.close()
# conn.close()
# print("ğŸ‰ All parquet files loaded successfully with correct types!")

ğŸ“¥ Loading data\base_products.parquet â†’ base_products
âœ… Inserted 1022298 rows into base_products
ğŸ‰ All parquet files loaded successfully with correct types!

In [ ]:
import pandas as pd
conn = psycopg2.connect(**db_config)
query = "SELECT * FROM base_products;"
df = pd.read_sql(query, conn)

C:\Users\Behnam_Local\AppData\Local\Temp\ipykernel_11900\2283249082.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [74]:
# df.head(20)

,image_url,random_key,category_id,brand_id,english_name,persian_name,extra_features,members
0,https://image.torob.com/base/images/K1/aU/K1aU...,chjknu,338,-1,,ÙØ±Ø´ 700Ø´Ø§Ù†Ù‡ Ø§ÙÙ¾Ø§Ù„ ÙÛŒØ±ÙˆØ²Ù‡ Ø§ÛŒ,"{""meterage"": [""12 m"", ""9 m"", ""6 m""], ""original...",['lqtdbp']
1,https://image.torob.com/base/images/vx/gL/vxgL...,ppndkv,2453,-1,Ú†Ù†Ø¯ Ø±Ù†Ú¯,ØµÙ†Ø¯Ù„ÛŒ ØªØ§Ø¨ Ù…Ø¯Ù„ chioco,"{""originality"": """", ""stock_status"": ""new""}",['iufoou']
2,https://image.torob.com/base/images/KW/2K/KW2K...,lwtjlj,2300,1293,,Ø¨Ø´Ù‚Ø§Ø¨ Ù…Ø¬Ù…ÙˆØ¹Ù‡ Ú©ÛŒÚ© ÛŒÚ©Ù¾Ø§Ø±Ú†Ù‡Ø³Ø§Ø²ÛŒ Ø¨Ø§ Ø³ÛŒØ³ØªÙ…Ø¹Ø§Ù…Ù„ 13 Ù‚...,"{""size2"": """", ""originality"": """", ""piece_count""...",['tjokxz']
3,https://image.torob.com/base/images/VK/R5/VKR5...,ruqoum,1905,212,,Ø³Ø±ÙˆÛŒØ³ Ù„Ú¯Ù† Ú¯Ø±Ø¯ ÛŒÙˆÙ†ÛŒÚ© Ø§ØµÙ„ - 6 Ø¹Ø¯Ø¯ÛŒ,"{""originality"": """", ""piece_count"": ""6 pieces"",...",['aysgod']
4,https://image.torob.com/base/images/eN/fh/eNfh...,gspcjx,350,-1,DESK yazdan MODEL,Ù…ÛŒØ² ØªØ­Ø±ÛŒØ± Ú†ÙˆØ¨ ÙÙ„Ø² Ù…Ø¯Ù„ ÛŒØ²Ø¯Ø§Ù†,"{""material"": ""mdf"", ""originality"": """", ""stock_...","['rrzqgz', 'tfaizo', 'pgsmqi', 'vhbeny', 'mikq..."
5,https://image.torob.com/base/images/gS/ca/gSca...,aicszu,1614,-1,,Ø±ÙˆØ´ÙˆÛŒÛŒ Ø³Ù†Ú¯ÛŒ Ù…Ø´Ú©ÛŒ Ø³Ø¨Ú© Ù…Ø¯Ø±Ù† 5040,"{""originality"": """", ""stock_status"": ""new""}",['wjwtik']
6,https://image.torob.com/base/images/zT/Ss/zTSs...,lgvklr,2749,-1,,Ø±ÙˆØªØ®ØªÛŒ Ø§Ø³Ø¨ ØªÚ© Ø´Ø§Ø® Ú©Ø¯ 3774,"{""type"": """", ""originality"": """", ""stock_status""...",['bbhkdl']
7,https://image.torob.com/base/images/oN/6e/oN6e...,nvvqqn,1440,-1,,Ù…ÛŒØ² Ù¾Ø§ØªØ®ØªÛŒ Ø³Ø§ÛŒØ§Ù† Ù‡ÙˆÙ… Ù…Ø¯Ù„ D&G PT 48 h 35,"{""material"": ""mdf"", ""originality"": """", ""stock_...","['rmpwer', 'dszjki', 'ezotqr', 'ufqffs', 'wlbi..."
8,https://image.torob.com/base/images/cQ/K4/cQK4...,icbzdr,1911,159,,ØªØ®ØªÙ‡ Ø®Ø±Ø¯Ú©Ù† (Ø³Ø±Ùˆ) Ø¢ÛŒÚ©ÛŒØ§ØŒ Ù…Ø¯Ù„ SMÃ…Ã„TAØŒ Ø§Ù‚Ø§Ù‚ÛŒØ§ØŒ 72...,"{""originality"": """", ""piece_count"": """", ""stock_...",['nybuwv']
9,https://image.torob.com/base/images/18/mR/18mR...,dwomxa,1730,159,,Ù‚Ø§Ù„ÛŒÚ†Ù‡ Ø§ÛŒÚ©ÛŒØ§ Ù…Ø¯Ù„ TIPHEDE Ø§Ø¨Ø¹Ø§Ø¯ Û±Û²Û° Ø¯Ø± Û±Û¸Û° Ø³Ø§Ù†Øª...,"{""originality"": """", ""stock_status"": ""new""}","['dibjlz', 'uuhczv', 'pzzgqp', 'aflefu', 'jdqt..."
10,https://image.torob.com/base/images/9Y/ai/9Yai...,zpuqmo,1940,-1,M1370n,Ù…ÛŒÙˆÙ‡â€ŒØ®ÙˆØ±ÛŒ M1370 Ù„ÙˆØ³ØªØ±Ø³Ø§Ø²Ø§Ù†,"{""piece_count"": """", ""stock_status"": ""new""}",['cajgxk']
11,https://image.torob.com/base/images/kk/oL/kkoL...,xuouje,346,-1,,ØªØ§Ø¨Ù„Ùˆ Ø®Ù†Ø¯Ø§Ù„Ùˆ Ø·Ø±Ø­ Ú¯ÙˆØ¬Ùˆ Ø³Ø§ØªÙˆØ±Ùˆ Ø§Ù†ÛŒÙ…Ù‡ Ø¬ÙˆØ¬ÙˆØªØ³Ùˆ Ú©Ø§ÛŒØ²Ù†,"{""originality"": """", ""stock_status"": ""new""}",['pyotgi']
12,https://image.torob.com/base/images/Uv/64/Uv64...,lkrxyt,1963,-1,,Ú†Ø´Ù… Ø¨Ù†Ø¯ ÛŒÙˆÚ¯Ø§ Ú†Ù†Ø¯ Ø±Ù†Ú¯ Ù…Ø¯ÛŒØªÛŒØ´Ù† Ø¢Ø±Ø§Ù…Ø´ Ø¨Ø®Ø´ Ø¨Ø§Ù„Ø´ Ø§Ø³...,"{""originality"": """", ""stock_status"": ""new""}",['gkbjbq']
13,https://image.torob.com/base/images/lw/q1/lwq1...,oemxlp,1908,-1,,Ø¸Ø±Ù Ø¢Ø¨Ù„ÛŒÙ…Ùˆ Ø®ÙˆØ±ÛŒ Ø§Ù„Ù…Ø§Ø³ Ú©Ø§Ø±Ø§Ù† Ù…Ø¯Ù„ Ø¢ÛŒØ³ Ø¨Ø³ØªÙ‡ 2 Ø¹Ø¯Ø¯ÛŒ,"{""stock_status"": ""new"", ""analyzed_name"": ""\u06...",['fyztdk']
14,https://image.torob.com/base/images/GZ/-B/GZ-B...,jvszqv,283,-1,,Ø³Ø§Ø¹Øª Ø¯ÛŒÙˆØ§Ø±ÛŒ Ù†ÛŒØªØ§Ú© Û±Û° - Ø³ÙÛŒØ¯,"{""originality"": """", ""stock_status"": ""new""}",['wibhzo']
15,https://image.torob.com/base/images/nK/Sl/nKSl...,unbojs,353,-1,,ØªØ®Øª Ø®ÙˆØ§Ø¨ Ø¯Ùˆ Ù†ÙØ±Ù‡ Ú†ÙˆØ¨ Ùˆ ÙÙ„Ø² Ø·Ø±Ø­ Ø´Ø§Ù†Ø§ Ø¨Ø§ Ø§Ø±Ø³Ø§Ù„ Ø§...,"{""type"": [""2 \u0646\u0641\u0631""], ""originalit...",['fuxcvx']
16,https://image.torob.com/base/images/t6/2b/t62b...,nwtggr,305,-1,,Ù¾Ø§Ø±Ú†Ù‡ Ù…Ø®Ù…Ù„ Ø±ÙˆØ¨Ø§Ù„Ø´ØªÛŒ Ù…Ø¯Ù„ Ú¯Ù„Ú¯Ù„ÛŒ ÙØ§Ù†ØªØ²ÛŒ Ø²Ù…ÛŒÙ†Ù‡ Ù‚Ù‡Ùˆ...,"{""width"": """", ""meterage"": """", ""originality"": ""...",['rhbvhq']
17,https://image.torob.com/base/images/bp/d2/bpd2...,cjzjqm,1295,-1,,Ø§Ø³Ù¾Ø±ÛŒ ØªÙ…ÛŒØ²Ú©Ù†Ù†Ø¯Ù‡ ÙÙˆÙ…ÛŒ Ø¨Ø§Ù…Ø§ (Ø³Ù‡ Ù…Ù†Ø¸ÙˆØ±Ù‡),"{""originality"": """", ""stock_status"": ""new""}",['jkzkun']
18,https://image.torob.com/base/images/s0/05/s005...,igjhwd,206,-1,,Ø§Ø¨Ø± Ø¬Ø§Ø¯ÙˆØ¦ÛŒ Ø§Ø³ Ø¨ÛŒ Ù…Ø¯Ù„ magic sponge Ø¨Ø³ØªÙ‡ 24 Ø¹Ø¯Ø¯ÛŒ,"{""originality"": """", ""stock_status"": ""new""}",['ephmkt']
19,https://image.torob.com/base/images/9K/K9/9KK9...,kmyyxk,1305,-1,,Ú†Ø§ÛŒØ³Ø§Ø² Ø¯Ø§Ø³Ù„Ø± Ù…Ø¯Ù„ Ù…ØªÛŒØ³ Dassler Metis,"{""power"": """", ""originality"": """", ""stock_status...",['qlsyul']

In [75]:
# Remember to close the connection when done
# close_connection(conn)

Connection closed

In [10]:
import os
sys.path.append(os.path.abspath(".."))
from sql.sql_utils import execute_sql
from sql.sql_agent import generate_sql_query

In [11]:
instruction = "Show me the product with name Ù…ÛŒØ² Ù¾Ø§ØªØ®ØªÛŒ Ø³Ø§ÛŒØ§Ù† Ù‡ÙˆÙ… Ù…Ø¯Ù„ D&G PT 48 h 35"

generated_query, explanation = await generate_sql_query(instruction)
print("Generated SQL:")
print(generated_query)

Generated SQL:
SELECT
    bp.random_key,
    bp.persian_name,
    bp.english_name,
    bp.category_id,
    bp.brand_id,
    bp.extra_features,
    bp.image_url,
    bp.members
FROM base_products bp
WHERE bp.persian_name = 'Ù…ÛŒØ² Ù¾Ø§ØªØ®ØªÛŒ Ø³Ø§ÛŒØ§Ù† Ù‡ÙˆÙ… Ù…Ø¯Ù„ D&G PT 48 h 35';

In [3]:

ground_truth_query = """
SELECT id, query, timestamp
FROM searches
ORDER BY timestamp DESC
LIMIT 5;
"""

print("\nGround Truth Query Results:")
gt = execute_sql(ground_truth_query)
print(gt)

print("\nGenerated Query Results:")
res = execute_sql(generated_query)
print(res)

if isinstance(res, list) and isinstance(gt, list):
    if res == gt:
        print("\nâœ… Matches ground truth")
    else:
        print("\nâš ï¸ Does not match ground truth")

Ground Truth Query Results:
[RealDictRow({'id': 'yifbet', 'query': 'Ù…ÙˆÚ©Ø§Ù¾Ø§Øª', 'timestamp': datetime.datetime(2025, 9, 13, 23, 59, 59, 929000, tzinfo=datetime.timezone.utc)}), RealDictRow({'id': 'pgzsfh', 'query': 'Ù…ÛŒØ² Ø§Ø±Ø§ÛŒØ´ Ø¯ÛŒÙˆØ§Ø±ÛŒ', 'timestamp': datetime.datetime(2025, 9, 13, 23, 59, 59, 855000, tzinfo=datetime.timezone.utc)}), RealDictRow({'id': 'ekvqic', 'query': 'Ù…ÛŒØ² ØªØ­Ø±ÛŒØ±', 'timestamp': datetime.datetime(2025, 9, 13, 23, 59, 59, 697000, tzinfo=datetime.timezone.utc)}), RealDictRow({'id': 'ohvgfk', 'query': 'Ø³Ø§Ù„Ø§Ø¯ Ø³Ø§Ø² Ù…Ø§ÛŒØ²', 'timestamp': datetime.datetime(2025, 9, 13, 23, 59, 59, 688000, tzinfo=datetime.timezone.utc)}), RealDictRow({'id': 'xbgogh', 'query': 'Ø¬Ø§Ø­Ø¨ÙˆØ¨Ø§ØªÛŒ Ú†ÙˆØ¨ÛŒ', 'timestamp': datetime.datetime(2025, 9, 13, 23, 59, 59, 541000, tzinfo=datetime.timezone.utc)})]

Generated Query Results:
[RealDictRow({'random_key': 'nvvqqn', 'persian_name': 'Ù…ÛŒØ² Ù¾Ø§ØªØ®ØªÛŒ Ø³Ø§ÛŒØ§Ù† Ù‡ÙˆÙ… Ù…Ø¯Ù„ D&G PT 48 h 35', 'english_name': '', 'category_id': 1440, 'brand_id': -1, 'extra_features': '{"material": "mdf", "originality": "", "stock_status": "new"}', 'image_url': 'https://image.torob.com/base/images/oN/6e/oN6e98H_ZEiI10NJ.jpg', 'members': "['rmpwer', 'dszjki', 'ezotqr', 'ufqffs', 'wlbiqk', 'sxjmmt']"})]

âš ï¸ Does not match ground truth